# Divers #
############
*.doc
*.docx
*.vsd
*.vsdx
front


# Datatbases #
# ---------- #
*.sql
*.sqlite
*.sqlite3


# Configurations #
# -------------- #
.env

# Byte-compiled / optimized / DLL files
# ----------------------------------- #
__pycache__/
*.py[cod]
*$py.class